<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AndroidClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AndroidClient.Properties.Settings>
            <setting name="organization" serializeAs="String">
                <value>YOUR_ORGANIZATION</value>
            </setting>
            <setting name="api_key" serializeAs="String">
                <value>XXXX</value>
            </setting>
            <setting name="api_url" serializeAs="String">
                <value>http://community.qeera.com</value>
            </setting>
            <setting name="project" serializeAs="String">
                <value>YOUR_PROJECT</value>
            </setting>
            <setting name="export_targetfile" serializeAs="String">
                <value>target.txt</value>
            </setting>
            <setting name="export_templatefile" serializeAs="String">
                <value>android.tpl</value>
            </setting>
            <setting name="import_file" serializeAs="String">
                <value>strings.xml</value>
            </setting>
            <setting name="export_targetlanguage" serializeAs="String">
                <value>DE</value>
            </setting>
        </AndroidClient.Properties.Settings>
    </userSettings>
</configuration>